{
  "presets": ["react"],
  "plugins": ["transform-es2015-modules-commonjs", 
    "transform-es2015-template-literals", 
    "transform-class-properties", 
    "transform-object-rest-spread"],
  "env": {
    "testing": {
      "presets":[
        ["env", { "modules": false }],
        "react", 
        "es2015"
      ],
      "plugins": ["transform-es2015-modules-commonjs", 
        "transform-es2015-template-literals", 
        "transform-class-properties", 
        "transform-object-rest-spread"]
    }
  }
}